.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #121212;
}

.wrapper > * {
  padding: 20px;
}

.page-header {
  display: flex;
  color: whitesmoke;
  justify-content: center;
  font-size: 2rem;
}

.page-main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  font-size: 2rem;

}

.prompt {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  
}

.prompt button {
  font-size: 2rem;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  
}

.buttons > * {
  font-size: 2rem;
}

.hidden {
  color: #121212;
}